<head>
    <title>About</title>
      <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style type="text/css">
        #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body>

    <div class="background">
        <div class="container-fluid"  id="aboutmeBox">
            <div class="row justify-content-center">
                <div class="col-8" id="myName">
                    <span class="myName">Innovater & Thinker</span>
                    <span class="mediumTitle">
                        I am a passionate web-developer interested in make people's business and life much easier. Knowledge
                        with mySQL, nodeJS, loopback, Javascript, CSS, HTML, bootstrap, react, native, redux and learning more.
                        Thanks to my background on architecture drafting, I understand the importance of a good fundation in order
                        to make a strong building, in this case a strong code.  
                        I am a person who likes to create and build staff to easy people's life. In my free time I like to play guitar,
                        dance salsa, play soccer, walk my dogs, surfing, and usually stay up at nights doing research on projects I am interested on making. 
                    </span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="rectangleMe">
                      <img class="image" src="../images/me.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
                <div class="col-8">
                    <div class="circle"><a href="/projects"><p class="circleText">Projects</p></a></div>
                    <div class="circle"><a href="/contact"><p class="circleText">Contact</p></a></div>
                    <div class="circle"><a href="/"><p class="circleText">home</p></a></div>
                    <div class="circle"><a href="/resume"><span class="circleText">Resume</span></a></div>
                </div>
            </div>
    </div>



</body>