<head>
    <title>Projects</title>
     <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="background">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8" id="aboutmeBox">
                    <span class="mediumTitle">PROJECTS</span>
                    <div class="containerRectangle">
                        <div class="rectangle">
                            <img class="image" src="../images/budgetTracker.jpg">
                            <div class="middle">
                                 <a href='../projectSelected/budgetTrackerDetail'><button class="button"><span>budgetTracker</span></button></a>
                            </div>
                        </div>
                        <div class="rectangle">
                            <img class="image" src="../images/changeCalculator.jpg">
                            <div class="middle">
                                <a href='../projectSelected/changeCalculatorDetail'><button class="button"><span>ChangeCal</span></button></a>
                            </div>
                        </div>
                        <div class="rectangle">
                            <img class="image" src="../images/vstda.jpg">
                            <div class="middle">
                                <a href='../projectSelected/vstdaDetail'><button class="button"><span>VSTDA</span></button></a>
                            </div>
                        </div>
                        <div class="rectangle">
                            <img class="image" src="../images/weatherapp.jpg">
                            <div class="middle">
                                <a href='../projectSelected/weatherappDetail'><button class="button"><span>weatherapp</span></button></a>
                            </div>
                        </div>
                        <div class="rectangle">
                            <img class="image" src="../images/image4.jpeg" style='max-height: 300px'>
                            <div class="middle">
                                <a href='../projectSelected/SDJSDetail'><button class="button"><span>SDJSAPP</span></button></a>
                            </div>
                        </div>
                        <div class="rectangle">
                            <img class="image" src="../images/portal.jpg">
                            <div class="middle">
                                <a href='../projectSelected/portalDetail'><button class="button"><span>PORTAL</span></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="containerCircleprojects">
                        <ul>
                            <li><a href="/aboutMe" target="_blank" class="round yellow">AboutMe<span class="round">Get to know me better.</span></a></li>
                            <li><a href="/" class="round green">Home<span class="round">Go back home page.</span></a></li>
                            <li><a href="/contact" target="_blank" class="round red">Contact<span class="round">Contact me if you want to know more. </span></a></li>
                            <li><a href="/resume" target="_blank" class="round turquoise">Resume<span class="round">Resume is just an small representation of myself.</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>